!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Smoothie Web
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js", :type => "text/javascript"}
    %script{:src => "functions.js", :type => "text/javascript"}
  %body
    %h1 Welcome to Smoothie
    %button#motors_off{:onclick => "motorsOff(event)"} Motors Off
    XY:
    %input#xy_velocity{:size => "4", :style => "width:50px", :type => "text", :value => "3000"}>/
    mm/min

    Z:
    %input#z_velocity{:size => "3", :style => "width:40px", :type => "text", :value => "200"}/
    %br/
    %svg{:height => "260", :version => "1.1", :width => "320", :xmlns => "http://www.w3.org/2000/svg"}
      %defs
        :css
          text {
                  font-family: helvetica;
                  stroke: black;
                  stroke-width: 1;
                  fill: black;
              }

              text.home {
                  font-family: helvetica;
                  stroke: black;
                  stroke-width: 1;
                  fill: black;
                  font-weight: 900;
                  font-size: 16;
                  pointer-events: none;
              }

              text.scl {
                  font-family: helvetica;
                  stroke: white;
                  stroke-width: 1;
                  fill: white;
                  pointer-events: none;
                  }

              circle.scl {
                  fill: black;
                  fill-opacity: 0.5;
                  stroke: red;
                  stroke-width: 3;
                  filter: url(#f1);
                  pointer-events: none;
             }

              path.home {
                  stroke: black;
                  }

              path.std {
                  stroke: black;
                  stroke-width: 1;
                  filter: url(#f1);
                  }

              rect.std {
                  stroke: black;
                  stroke-width: 1;
                  filter: url(#f1);
                  }
        %filter#f1{:height => "300%", :width => "300%", :x => "-1", :y => "-1"}
          %feoffset{:dx => "3", :dy => "3", :in => "SourceAlpha", :result => "offOut"}
          %fegaussianblur{:in => "offOut", :result => "blurOut", :stddeviation => "4"}
          %feblend{:in => "SourceGraphic", :in2 => "blurOut", :mode => "normal"}
        %symbol#HomeIcon{"pointer-events" => "none", :viewbox => "0 0 20 18"}
          %desc HomeIcon - house
          %path.home{:d => "M3,18 v-8 l7,-6 l7,6 v8 h-5 v-6 h-4 v6 z", :fill => "black"}
          %path.home{:d => "M0,10 l10-8.5 l10,8.5", :fill => "none", "stroke-width" => "1.5"}
          %path.home{:d => "M15,3 v2.8 l1,.8 v-3.6 z"}
        %symbol#JogRose{:viewbox => "20 -10 260 260"}
          %g#HomeAll{:onmouseup => "runCommandSilent('G28')"}
            %path.std{:d => "M10 182.5 h-10 v57.5 h57.5 v-10 a 125,125 0 0,1 -47.5 -47.5 Z", :fill => "#f0f0f0"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %use{:height => "18", :width => "20", :x => "3", "xlink:href" => "#HomeIcon", :y => "217"}
          %g#HomeX{:onmouseup => "runCommandSilent('G28 X0')"}
            %path.std{:d => "M10 57.50 h-10 v-57.5 h57.5 v10 a 125,125 0 0,0 -47.5 47.5 Z", :fill => "Khaki"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %use{:height => "18", :width => "20", :x => "3", "xlink:href" => "#HomeIcon", :y => "5"}
            %text.home{:x => "25", :y => "20"} X
          %g#HomeY{:onmouseup => "runCommandSilent('G28 Y0')"}
            %path.std{:d => "M230 57.50 h10 v-57.5 h-57.5 v10 a 125,125 0 0,1 47.5 47.5 z", :fill => "SteelBlue"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %use{:height => "18", :width => "20", :x => "217", "xlink:href" => "#HomeIcon", :y => "5"}
            %text.home{:x => "202", :y => "20"} Y
          %g#HomeZ{:onmouseup => "runCommandSilent('G28 Z0')"}
            %path.std{:d => "M230 182.5 h10 v57.5 h-57.5 v-10 a 125,125 0 0,0 47.5 -47.5 z", :fill => "DarkSeaGreen"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %use{:height => "18", :width => "20", :x => "217", "xlink:href" => "#HomeIcon", :y => "217"}
            %text.home{:x => "202", :y => "232"} Z
          %g#Jog100.std{:fill => "#c0c0c0"}
            %g{:id => "Y+100", :onmouseup => "jogXYClick('Y100')", :transform => "translate(120 120)"}
              %path.std{:d => "M-60 -67.07 L-75.93,-83 A112.5,112.5 0 0,1 75,-83 L60,-67.07 A90,90 0 0,0 -60.00,-67.07 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g{:id => "X+100", :onmouseup => "jogXYClick('X100')", :transform => "translate(120 120)"}
              %path.std{:d => "M67.07,-60 L83,-75.93 A112.5,112.5 0 0,1 83,75.93 L67.07,60 A90,90 0 0,0 67.07,-60"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#Y-100{:onmouseup => "jogXYClick('Y-100')", :transform => "translate(120 120)"}
              %path.std{:d => "M-60,67.07 L-75.93,83 A112.5,112.5 0 0,0 75,83 L60,67.07 A90,90 0 0,1 -60.00,67.07 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#X-100{:onmouseup => "jogXYClick('X-100')", :transform => "translate(120 120)"}
              %path.std{:d => "M-67.07,-60 L-83,-75.93 A112.5,112.5 0 0,0 -83,75.93 L-67.07,60 A90,90 0 0,1 -67.07,-60 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#Jog10{:fill => "#d0d0d0"}
            %g{:id => "Y+10", :onmouseup => "jogXYClick('Y10')", :transform => "translate(120 120)"}
              %path.std{:d => "M-44.06 -51.13 L-60,-67.07 A90,90 0 0,1 60,-67 L44.06,-51.13 A67.5,67.5 0 0,0 -44.06,-51.13 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g{:id => "X+10", :onmouseup => "jogXYClick('X10')", :transform => "translate(120 120)"}
              %path.std{:d => "M51.13 44.06 L67.07,60 A90,90 0 0,0 67.07,-60 L51.13,-44.06 A67.5,67.5 0 0,1 51.13,44.06 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#Y-10{:onmouseup => "jogXYClick('Y-10')", :transform => "translate(120 120)"}
              %path.std{:d => "M-44.06 51.13 L-60,67.07 A90,90 0 0,0 60,67 L44.06,51.13 A67.5,67.5 0 0,1 -44.06,51.13 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#X-10{:onmouseup => "jogXYClick('X-10')", :transform => "translate(120 120)"}
              %path.std{:d => "M-51.13 44.06 L-67.07,60 A90,90 0 0,1 -67.07,-60 L-51.13,-44.06 A67.5,67.5 0 0,0 -51.13,44.06 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#Jog1{:fill => "#e0e0e0"}
            %g{:id => "Y+1", :onmouseup => "jogXYClick('Y1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-28.09 -35.16 L-44.06,-51.13 A67.5,67.5 0 0,1 44.06,-51.13 L28.09,-35.16 A45,45 0 0,0 -28.09,-35.16 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g{:id => "X+1", :onmouseup => "jogXYClick('X1')", :transform => "translate(120 120)"}
              %path.std{:d => "M35.16 -28.09 L51.13,-44.06 A67.5,67.05 0 0,1 51.13,44.06 L35.16,28.09 A45,45 0 0,0 35.16,-28.09 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#Y-1{:onmouseup => "jogXYClick('Y-1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-28.09 35.16 L-44.06,51.13 A67.5,67.5 0 0,0 44.06,51.13 L28.09,35.16 A45,45 0 0,1 -28.09,35.16 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#X-1{:onmouseup => "jogXYClick('X-1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-35.16 -28.09 L-51.13,-44.06 A67.5,67.05 0 0,0 -51.13,44.06 L-35.16,28.09 A45,45 0 0,1 -35.16,-28.09 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#Jog0_1{:fill => "#f0f0f0"}
            %g{:id => "Y+0.1", :onmouseup => "jogXYClick('Y0.1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-28.09 -35.16 A45,45 0 0,1 29.09,-35.16 L0,-7.07 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g{:id => "X+0_1", :onmouseup => "jogXYClick('X0.1')", :transform => "translate(120 120)"}
              %path.std{:d => "M35.16 -28.09 A45,45 0 0,1 35.16,28.09 L7.07,0 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#Y-0_1{:onmouseup => "jogXYClick('Y-0.1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-28.09 35.16 A45,45 0 0,0 29.09,35.16 L0,7.07 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %g#X-0_1{:onmouseup => "jogXYClick('X-0.1')", :transform => "translate(120 120)"}
              %path.std{:d => "M-35.16 -28.09 A45,45 0 0,0 -35.16,28.09 L-7.07,0 z"}
                %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#RoseScale
            %g
              %circle.scl{:cx => "144", :cy => "96", :r => "9.5"}
              %circle.scl{:cx => "159.5", :cy => "80.5", :r => "10.5"}
              %circle.scl{:cx => "175", :cy => "65", :r => "12"}
              %circle.scl{:cx => "195", :cy => "45", :r => "15"}
              %text.scl{"font-size" => "10", :x => "137", :y => "99"} 0.1
              %text.scl{"font-size" => "14", :x => "155", :y => "85"} 1
              %text.scl{"font-size" => "15", :x => "166", :y => "70"} 10
              %text.scl{"font-size" => "15", :x => "182", :y => "50"} 100
          %g#Decoration{"fill-opacity" => ".6", "font-size" => "11", "font-weight" => "900", "pointer-events" => "none"}
            %path.std{:d => "M120,20 l17,17 h-10 v11 h-14 v-11 h-10 z", :fill => "SteelBlue"}
            / y pos arrow
            %path.std{:d => "M120,220 l17,-17 h-10 v-11 h-14 v11 h-10 z", :fill => "SteelBlue"}
            / y neg arrow
            %path.std{:d => "M20,120 l17,17 v-10 h11 v-14 h-11 v-10 z", :fill => "Khaki"}
            / x neg arrow
            %path.std{:d => "M220,120 l-17,-17 v10 h-11 v14 h11 v10 z", :fill => "Khaki"}
            / x pos arrow
            %text{:x => "113", :y => "37"} +Y
            %text{:x => "113", :y => "212"} -Y
            %text{:x => "27", :y => "124"} -X
            %text{:x => "196", :y => "124"} +X
        %symbol#JogBar{:viewbox => "20 -10 260 260"}
          %desc JogBar - Z jogging bar
          %g{:fill => "#b0b0b0", :id => "+Z"}
            %path.std{:d => " M5,0 h30 a5,5 0 0,1 5,5 v27 h-40 v-27 a5,5 0 0,1 5,-5 z"}
            %path.std{:d => "M20,2 l17,17 h-10 v11 h-14 v-11 h-10 z", :fill => "DarkSeaGreen"}
            %text{"font-size" => "12", :x => "11", :y => "18"} +Z
          %g#-Z{:fill => "#b0b0b0"}
            %path.std{:d => " M0,208 h40 v27 a5,5 0 0,1 -5,5 h-30 a5,5 0 0,1 -5,-5 z"}
            %path.std{:d => "M20,238 l-17,-17 h10 v-11 h14 v11 h10 z", :fill => "DarkSeaGreen"}
            %text{"font-size" => "12", :x => "13", :y => "230"} -Z
          %g{:fill => "#d0d0d0", :id => "Z+10", :onmouseup => "jogZClick('Z10')"}
            %rect.std{:height => "30", :width => "40", :x => "0", :y => "32"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %circle.scl{:cx => "20", :cy => "47", :r => "13"}
            %text.scl{"font-size" => "18", :x => "9", :y => "53"} 10
          %g{:fill => "#e0e0e0", :id => "Z+1", :onmouseup => "jogZClick('Z1')"}
            %rect.std{:height => "26", :width => "40", :x => "0", :y => "62"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %circle.scl{:cx => "20", :cy => "75", :r => "11"}
            %text.scl{"font-size" => "18", :x => "15", :y => "81.5"} 1
          %g{:fill => "#f0f0f0", :id => "Z+0.1", :onmouseup => "jogZClick('Z0.1')"}
            %rect.std{:height => "24", :width => "40", :x => "0", :y => "88"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
            %circle.scl{:cx => "20", :cy => "100", :r => "9.5"}
            %text.scl{"font-size" => "10", :x => "13", :y => "103.5"} 0.1
          %g#Z-10{:fill => "#d0d0d0", :onmouseup => "jogZClick('Z-10')"}
            %rect.std{:height => "30", :width => "40", :x => "0", :y => "178"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#Z-1{:fill => "#e0e0e0", :onmouseup => "jogZClick('Z-1')"}
            %rect.std{:height => "26", :width => "40", :x => "0", :y => "152"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#Z-0_1{:fill => "#f0f0f0", :onmouseup => "jogZClick('Z-0.1')"}
            %rect.std{:height => "24", :width => "40", :x => "0", :y => "128"}
              %set{:attributename => "fill", :begin => "mouseover", :end => "mouseout", :to => "orange"}
          %g#ZSpace{:fill => "#000000"}
            %rect.std{:height => "16", :width => "40", :x => "0", :y => "112"}
        %symbol#PrinterCtl
          %use{:x => "0", "xlink:href" => "#JogRose", :y => "0"}
          %use{:x => "260", "xlink:href" => "#JogBar", :y => "0"}
      %use{:x => "0", "xlink:href" => "#PrinterCtl", :y => "0"}
    %br/
    %table
      %tr
        %td
          %table
            %tr
              %td{:style => "text-align:right"} Heat:
              %td
                %button#heat_off{:onclick => "heatOff(event)"} Off
              %td
                %input#heat_value{:size => "3", :style => "width:40px", :type => "text", :value => "0"}/
              %td
                %button#heat_set{:onclick => "heatSet(event)"} Set
            %tr
              %td{:style => "text-align:right"} Bed:
              %td
                %button#bed_off{:onclick => "heatOff(event)"} Off
              %td
                %input#bed_value{:size => "3", :style => "width:40px", :type => "text", :value => "0"}/
              %td
                %button#bed_set{:onclick => "heatSet(event)"} Set
        %td{:valign => "top"}
          %button#get_temperature{:onclick => "getTemperature()"} Get Temperature
    %br/
    %button#extrude{:onclick => "extrude(event)"} Extrude
    %button#reverse{:onclick => "extrude(event)"} Reverse
    %br/
    %input#extrude_length{:size => "3", :style => "width:35px", :type => "text", :value => "5"}/
    mm @
    %input#extrude_velocity{:size => "3", :style => "width:40px", :type => "text", :value => "100"}/
    mm/min
    %h2 Commands
    %form#commandForm{:action => "/command"}
      %input{:name => "commandText", :placeholder => "Send Command...", :type => "text"}/
      %input{:type => "submit", :value => "Send"}/
    / the result of the command will be rendered inside this div
    #result
    :javascript
      // Attach a submit handler to the form
      	$( "#commandForm" ).submit(function( event ) {
      		// Stop form from submitting normally
      		event.preventDefault();
      		// Get some values from elements on the page:
      		var $form = $( this );
      		command = $form.find( "input[name='commandText']" ).val();
      		command += "\n";
      		url = $form.attr( "action" );
      		// Send the data using post
      		var posting = $.post( url, command );
      		// Put the results in a div
      		posting.done(function( data ) {
      			$( "#result" ).empty();
                    $.each(data.split('\n'), function(index) {
                        $( "#result" ).append( this + '<br/>' );
                    });
      		});
      	});
    %h2 Upload File
    %input#files{:name => "files[]", :onchange => "upload();", :type => "file"}/
    %h3 Uploading file(s)
    %output#list
    #progress
    #uploadresult
    :javascript
      document.getElementById('files').addEventListener('change', handleFileSelect, false);
    %h2
      Printable File list
      %button#refreshFiles{:onclick => "refreshFiles()"} Refresh
    %br/
    %table#fileList
    %button#progress{:onclick => "runCommand('progress', false)"} Progress
    %button#abort{:onclick => "runCommand('abort', false)"} Abort
